/*
 * base.css
 */

@media print,
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi) {
}

body {
    min-width: 960px;
    background-color: #191917;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo-text {
    color: white;
    font-size: 20pt;
}


.navbar-default {
    background-color: #2F2F2F;
    border-bottom: 5px solid #464644;
}

.posts {
    margin-top:70px; 
}

.post {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    background-color: #2F2F2F;
}

.btn-group Button {
    margin-left:5px;
    margin-right:5px;
}

#modalheadertext {
    color: white;
}

#randomPost a {
    color: white;
    text-decoration: none;
}

.modal-backdrop {
    background: none;
}

#modalheader {
    background-color: #2F2F2F;
    border-bottom: 5px solid #464644;
}

#modalheader h4 {
    font-style: normal;
}


#modalfooter {
    border-top: 5px solid #464644;
    margin:0;
    background-color: #2F2F2F;
}

#modalbody {
    background-color: #191917;
    color: gray;
}

.post {
    margin-top: 10px;
    margin-bottom: 20px;
    border:2px solid;
    border-radius:10px;
}

.postImg {
    border:2px solid;
    border-radius:10px;
    width: 80%;
    display: block;
    margin:auto;
}

.fb-like {
    width:80px!important;
}

.tweet-link {
    width:80px!important;
}

#thePosts {
    list-style-type: none;
}

.social-buttons {
    float:right !important;
    display:inline-block !important;
    margin:0 5px 0 0 !important;
    border:none;
}
